.header {
  /* padding-top: 25px; */
  padding-top: 3.5vh;
  padding-bottom: 3.5vh;
  outline: 1.5px solid gray;
}
.header__nav {
  display: flex;
  align-items: center;
  padding-left: 170px;
  gap: 20px;
}
