.favs {
  padding-top: 40px;
  padding-bottom: 30px;
  & [data-favs-container] {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
  }
}

.favs__title {
  font-family: "Lato";
  font-size: 44px;
  font-weight: 800;
  text-align: center;
  margin-bottom: 8px;
}

.favs__subtitle {
  font-family: "Space Mono";
  font-size: 22px;
  opacity: 0.8;
  text-align: center;
}
.favs__list {
  margin-top: 40px;
  display: flex;
  justify-content: center;
  gap: 40px;
  flex-wrap: wrap;
}
.favs__btn {
  display: block;
  margin-left: auto;
  color: #e8e8e8;
  font-family: "Lato";
  font-size: 18px;
  padding: 10px 20px;
  border-radius: 4px;
  outline: 1.5px solid rgb(134, 134, 134);
  display: flex;
  align-items: center;
  justify-content: center;
  transition-duration: 300ms;
  transition-delay: 50ms;
  transition-timing-function: ease-in-out;
  &:hover {
    background-color: rgb(134, 134, 134);
    color: #222222;
  }
}
