html {
  scroll-behavior: smooth;
  background-color: #1a1a1d;
}

body {
  font-family: "Martel Sans";
  font-weight: 400;
  color: #e8e8e8;
}

button {
  cursor: pointer;
  transition-duration: 250ms;
  transition-delay: 50ms;
  border: none;
  background-color: transparent;
  outline: none;
}

.container {
  width: 1280px;
  margin-left: auto;
  margin-right: auto;
  padding-right: 30px;
  padding-left: 30px;
}
header a {
  color: #e8e8e8;
  font-family: "Space Mono";
}
.active {
  color: #e8e8e8;
}
/* ::selection {
  background-color: var(--border-color);
} */
